@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Inter');
:root {
  --color-negro: #3f3f3f;
  --color-naranja: #ef5c0a;
  --color-gris: #c4c4c4;
  --color-amarillo: #ffbd13;
}

.about{
    height: 100vh;
    width: 69.3vw ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    
    
}

.contenedor__fotoGrande{
    margin-top: 3%;
    width: 80%;
    height: 40%;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.fotoGrande{
    border-radius: 30px;
    width: 100%;
    height: 100%;
}
.miNombreH1{
    font-family: 'Italianno', cursive;
    color: white;
    text-shadow: 2px 2px 4px aqua;
    font-size: 3vw;
    vertical-align:25%;
}
.texto{
    color: white;
    width: 80%;
}
/* BOTON CONTACT ME*/
.c-button {
    background-color: var(--color-negro);
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  }
  
  .c-button--gooey {
    color: aqua;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    border: 0.2vw solid aqua;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    /*bottom: -3px;
    right: -1px;*/
    z-index: -1;
  }
  
  .c-button--gooey .c-button__blobs div {
    background-color:aqua;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
  }
  
  .c-button--gooey:hover {
    color: var(--color-negro);
  }
  
  .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
  }

  /*SKILLS*/
  .skill{
    display: flex;
    color: white;
    min-height: 100vh; /* Cambiado de height a min-height */
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
      margin: 3vw auto;
      width: 70%;
      text-align: start;
    }

    .container .progress {
      width: 70%;
    }

    .progress {
      padding: 0.2vw;
      background: rgba(255, 255, 255, 0.25);
      border-radius: 6px;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px aqua;
    }

    .progress-bar--java {
      height: 1.5vh;
      border-radius: 4px;
      background-color: #f2d31b; /* Fijar el color en 75% */
      width: 75%; /* Fijar el ancho en 75% */
    }
    .progress-bar--javascript {
      height: 1.5vh;
      border-radius: 4px;
      background-color: #f2d31b; /* Fijar el color en 75% */
      width: 98%; /* Fijar el ancho en 75% */
    }
    .progress-bar--php {
      height: 1.5vh;
      border-radius: 4px;
      background-color: #f2d31b; /* Fijar el color en 75% */
      width: 100%; /* Fijar el ancho en 75% */
    }
    .progress-bar--html {
      height: 1.5vh;
      border-radius: 4px;
      background-color: #f2d31b; /* Fijar el color en 75% */
      width: 95%; /* Fijar el ancho en 75% */
    }
    .progress-bar--css {
      height: 1.5vh;
      border-radius: 4px;
      background-color: #f2d31b; /* Fijar el color en 75% */
      width: 80%; /* Fijar el ancho en 75% */
    }

    /*DESIGN*/
    .design{
      color: white;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3vw;
      justify-content: center;
    }
    .proyects{
      width: 60%;
      display: flex;
      flex-direction: row;
      gap: 3vw;
      flex-wrap: wrap;
    }

    /*card*/
    .card {
      width: 10vw;
      height: 15vw;
      background: #07182E;
      position: relative;
      display: flex;
      place-content: center;
      place-items: center;
      overflow: hidden;
      border-radius: 20px;
    }
    
    .card h2 {
      z-index: 1;
      color: white;
      font-size: 2em;
    }
    
    .card::before {
      content: '';
      position: absolute;
      width: 6vw;
      background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
      height: 130%;
      animation: rotBGimg 3s linear infinite;
      transition: all 0.2s linear;
    }
    
    @keyframes rotBGimg {
      from {
        transform: rotate(0deg);
      }
    
      to {
        transform: rotate(360deg);
      }
    }
    
    .card::after {
      content: '';
      position: absolute;
      background: #07182E;
      inset: 5px;
      border-radius: 15px;
    }  
     .card:hover:before {
      background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
      animation: rotBGimg 3.5s linear infinite;
    } 
    .fotoCard{
      width: 80%;
      height: 80%;
      z-index: 2222;
    }
    /*CONTACT*/
    .contact{
      display: flex;
      flex-direction: column;
      gap: 10vh;
      justify-content: center;
      align-items: center;
      height: 100vh;
      color: white;
    }
    
    .formulario{
      padding: 2vw;
      box-shadow: 0 0 20px aqua;
      width: 30vw;
      
      display: flex;
      flex-direction: column;
      gap: 0.5vw;
      justify-content: center;
    }
    .input{
      width: 50%;
      height: 3vh;
    }
    .inputLargo{
      width: 100%;
      height: 3vh;
    }
    .inputLargoAncho{
      width: 100%;
      height: 10vh;
    }
    .imputsubmit{
      text-align: right;
    }
    .doble{
      display: flex;
      gap: 1vw;
    }
    .botonformulario{
      background-color: rgba(255, 0, 0, 0);
      color: white;
      border: none;
      padding: 0.3vw;
      box-shadow: 0px 0px 10px aqua;
    }
    .botonformulario:hover{
      text-decoration: underline;
      cursor: pointer;
      background-color: rgba(0, 255, 255, 0.137);
    }
    /*REVIEWS*/
    .reviews{
      height: 100vh;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5vw;
    }
    .resenaIcono{
      width: 1.5vw;
    }
    .reviewsContainer{
     display: flex;
     flex-direction: column;
     gap: 2vw;
    } 
    h2{
      text-shadow: 2px 2px 4px aqua;
    }