@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Inter');
:root {
  --color-negro: #3f3f3f;
  --color-naranja: #ef5c0a;
  --color-gris: #c4c4c4;
  --color-amarillo: #ffbd13;

}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body{
  background:linear-gradient(to right,#001F3F, #1d1d1d, #001F3F);
    display: flex;
    overflow: hidden;
}
/* NAV */
nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 100vh;
}
.presentacion__container{
  width: 15vw;
  height: 40%;
  gap: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container__fotoMini{
  margin-top: 1vw;
    height: 13vw;
    width: 13vw;
}
.fotoMini{
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
/* H1 */
.NombreNav{
    font-family: 'Italianno', cursive;
    font-size: 2vw;
    letter-spacing: 0.3vw;
    margin-right: 1vw;
    color: white;
    text-shadow: 2px 2px 4px aqua;
}
/* Menú options--NAV */
.menuOptions{
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  
  gap: 3vw;
  
  height: 60%;
}
.button {
  text-align: center;
  color: white;
  outline: none;
  border: none;
  font-size: 17px;
  padding: 1em 2em;
  position: relative;
  background: none;
  cursor: pointer;
}

.button:active {
  transform: scale(.98);
  box-shadow: .1px .1px 2px rgb(191, 170, 170);
}

.button span {
  position: absolute;
  background-color: aqua;
  transition: .5s;
  box-shadow: 1px 1px 20px aqua;
}

.button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 3px;
  height: 30%;
}

.button:hover span:nth-child(1) {
  height: 100%;
}

.button span:nth-child(2) {
  top: 0;
  left: 0;
  width: 15%;
  height: 3px;
}

.button:hover span:nth-child(2) {
  width: 100%;
}

.button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 3px;
  height: 30%;
}

.button:hover span:nth-child(3) {
  height: 100%;
}

.button span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 15%;
  height: 3px;
}

.button:hover span:nth-child(4) {
  width: 100%;
}

/* Linea vertical movil */
.linea-vertical {
    z-index: 2;
    position: relative;
    width: 0.7vw;
    height: 100vh;
    border-radius: 20%;
    background-color: white;
    box-shadow: 2px 2px 4px aqua;
    transform: translateX(-50%) translateY(-100vh); 
    animation: desplazar 1s ease-in-out forwards; 
  }

  @keyframes desplazar {
    0% {
      transform: translateX(-50%) translateY(-100vh);
    }
    100% {
      transform: translateX(-50%) translateY(0);
    }
  }
